<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-blue">
            <div class="row">
                <div class="col s2">
                    <a ng-if="!userNav.org" href="/dashboard" class="brand-logo">Goodbook</a>
                    <a ng-if="userNav.org" href="/console" class="brand-logo">Goodbook</a>
                </div>
                <div class="col s4 offset-s2">
                    <form ng-submit="userNav.search()">
                        <div class="input-field">
                            <input id="search" type="search" ng-required ng-model="userNav.search_terms">
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                <div class="col s6">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li ng-if="!userNav.org"><a ng-href="/notification"><i class="material-icons">add_alert</i></a></li>
                        <li ng-if="userNav.org"><a ng-click="userNav.showNotifPanel = !userNav.showNotifPanel"><i class="material-icons">add_alert</i></a></li>
                        <li ng-if="!userNav.org"><a href="/profile">{{userNav.user.firstName+" "+userNav.user.lastName}}</a></li>
                        <li ng-if="userNav.org"><a href="/profile">{{userNav.user.name}}</a></li>
                        <li><a href="#!" ng-click="userNav.logout()">Logout<i class="material-icons right">exit_to_app</i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="row">
    <div class="col s4 offset-s8 white animate-if" ng-if="userNav.showNotifPanel" style="position: fixed; z-index: 2">
        <ul class="collection">
            <a class="collection-item avatar" href="{{notif.link}}" ng-repeat="notif in userNav.notifications">
                <img src="assets/images/yeoman.png" alt="" class="circle">
                <p ng-if="notif.type==1">
                </p>
                <div ng-if="notif.type==2">
                    <span class="title black-text">Query update</span>
                    <p class="grey-text">
                        You received a query !
                        <br>"{{notif.content}}"
                    </p>
                </div>
                <div ng-if="notif.type==3">
                    <span class="title black-text">Donation received</span>
                    <p class="grey-text">
                        You received a donation !
                    </p>
                </div>
                <div ng-if="notif.type==4">
                    <span class="title black-text">Subscription alert !</span>
                    <p class="grey-text">
                        You were subscribed by {{notif.subscriberCount}} people !
                    </p>
                </div>
            </a>
            <a class="collection-item light-blue-text" href="/notification">
                <center>Show all notifications...</center>
            </a>
        </ul>
    </div>
</div>
