<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<navbar></navbar>
<div class="row">
    <div class="col s7" style="font-weight: lighter">
        <div class="row flow-text blue-text">
            <div class="col offset-s3 s9" style="font-size: 150%; max-width: 100%; font-weight: lighter">
                Welcome to
                <br>Project Goodbook
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <div class="col s5">
                        <div class="row" style="margin-top: 5%">
                            <center><img src="assets/images/NGO_stats.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">56 NGOs</span>
                                <br>across the country</center>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="row" style="margin-top: 5%">
                            <center><img src="assets/images/volunteer_stats.png"></center>
                        </div>
                        <div class="row " style="font-size: 125%">
                            <center><span class="blue-text">1200 Volunteers</span>
                                <br>across the country</center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <div class="row" style="margin-top: 5%">
                            <center><img src="assets/images/help_stats.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">Rs. 1,50,000</span>
                                <br>worth of donations</center>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="row" style="margin-top: 5%">
                            <center><img src="assets/images/calendar_stats.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">87 events</span>
                                <br>covered till now</center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4 section">
        <form>
            <div class="row z-depth-1" style="margin-top: 1%">
                <div class="row">
                    <div class="col s10 blue-text">
                        <span style="font-weight: lighter; padding: 5% 0% 0% 5%; font-size: 300%">Sign up</span>
                        <span style="font-weight: lighter; padding: 0% 0% 0% 5%; font-size: 110%"><br>Want to sign up ? Fill this form</span>
                    </div>
                </div>
                <div class="row" style="margin-top: -5%">
                    <div class="row">
                        <div class="input-field col s5 offset-s1 flow-text">
                            <input id="ind" name="group1" type="radio" ng-model="register.ind" ng-value="true">
                            <label for="ind">Individual</label>
                        </div>
                        <div class="input-field col s5 flow-text">
                            <input id="org" name="group1" type="radio" ng-model="register.ind" ng-value="false">
                            <label for="org">Organization</label>
                        </div>
                    </div>
                    <div class="input-field col s5 offset-s1 flow-text" ng-if="register.ind">
                        <input id="first_name" type="text" class="validate" ng-model="register.first_name" ng-required="true">
                        <label for="first_name" class="active">First Name</label>
                    </div>
                    <div class="input-field col s5 flow-text" ng-if="register.ind">
                        <input id="last_name" type="text" class="validate" ng-model="register.last_name" ng-required="true">
                        <label for="last_name" class="active">Last Name</label>
                    </div>
                    <div class="input-field col s10 offset-s1 flow-text" ng-if="!register.ind">
                        <input id="org_name" type="text" class="validate" ng-model="register.org_name" ng-required="true">
                        <label for="org_name">Organization name</label>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s1 flow-text">
                            <input id="username" type="text" ng-model="register.username" ng-required="true" ng-blur="register.check_username()">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s2 flow-text" ng-hide="register.valid_username">
                            <i class="material-icons white red-text">clear</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s1  flow-text">
                            <input id="email" type="email" class="validate" ng-model="register.email" ng-required="true" ng-blur="register.check_email()"></input>
                            <label for="email">E-mail Address</label>
                        </div>
                        <div class="input-field col s2 flow-text" ng-hide="register.valid_email">
                            <i class="material-icons white red-text">clear</i>
                        </div>
                    </div>
                    <div class="input-field col s10 offset-s1 flow-text">
                        <input id="password" type="password" class="validate" ng-model="register.password" ng-required="true">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s3 offset-s4">
                        <button type="submit" ng-click="register.register()" class="btn waves-effect waves-light blue">
                            Signup
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
