<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div ng-if="!userpanel.org" class="col s2 z-depth-1" style="height: 100vh; position: fixed; float: left; margin-top: -1%">
    <center><img src="assets/images/yeoman.png" id="profilePic" alt="yeoman" class="light-blue circle responsive-img" style="max-height: 18%; min-height: 18%; margin-top: 5px; "></center>
    <center>
        <p class="flow-text">{{userpanel.name}}</p>
    </center>
    <!-- <center>
        <p>Studied at: <span class="light-blue-text">{{userpanel.studiedAt}}</span></p>
    </center> -->
    <center>
        <p>Lives in: <span class='light-blue-text'>{{userpanel.location}}</span></p>
    </center>
    <div class="card light-blue white-text" style="padding: 5px">
        <center>{{userpanel.description}}</center>
    </div>
    <div class="row">
        <div class="col progress s9">
            <div class="determinate light-blue" style="width: 70%"></div>
        </div>
        <div class="col s3">{{userpanel.grading}}</div>
    </div>
    <center>
        <p style="display: inline-flex;vertical-align: middle"><i class="material-icons small light-blue-text">av_timer</i><span class="flow-text" style="padding-left: 10px">{{userpanel.karma}} hours</span></p>
    </center>
    <center>
        <p style="display: inline-flex;vertical-align: middle"><i class="material-icons small light-blue-text">stars</i><span class="flow-text" style="padding-left: 10px">Rs. {{userpanel.donated}}</span></p>
    </center>
    <center><a href="/search" class="waves-effect waves-light light-blue btn"><span style="display: inline-flex; vertical-align: middle;">Donate<i class="material-icons small white-text" style="padding-left: 10px">play_arrow</i></span></a></center>
</div>
