<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col s4 offset-s4">
        <div class="card">
            <center class="card-title light-blue white-text">Forgot Password</center>
            <div class="card-content">
                <div class="column">
                    <form ng-submit="forgot.forgotPassword()">
                        <div class="row">
                            <div class="input-field col s5 offset-s1 flow-text">
                                <input id="ind" name="group1" type="radio" ng-model="forgot.ind" ng-value="true">
                                <label for="ind">Individual</label>
                            </div>
                            <div class="input-field col s5 flow-text">
                                <input id="org" name="group1" type="radio" ng-model="forgot.ind" ng-value="false">
                                <label for="org">Organization</label>
                            </div>
                        </div>

                        <div class="input-field">
                            <i class="material-icons prefix light-blue-text">person</i>
                            <label class='light-blue-text' data-error="wrong" data-success="right">Username</label>
                            <input type="text" class="validate" ng-model="forgot.username" ng-required="true"></input>
                        </div>
                        
                        <div class="row">
                            <center>
                                <button class="btn waves-effect waves-light offset-s1 light-blue white-text" type="submit">
                                    Reset Password
                                </button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>