<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col s7" style="font-weight: lighter">
        <div class="row flow-text blue-text">
            <div class="col offset-s3 s9" style="font-size: 150%; max-width: 100%; font-weight: lighter">
                Welcome to
                <br>Project Goodbook
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="row">
                    <div class="col s5">
                        <div class="row blue z-depth-2" style="margin-top: 5%">
                            <center><img src="assets/images/yeoman.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">56 NGOs</span>
                                <br>across the country</center>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="row blue z-depth-2" style="margin-top: 5%">
                            <center><img src="assets/images/yeoman.png"></center>
                        </div>
                        <div class="row " style="font-size: 125%">
                            <center><span class="blue-text">1200 Volunteers</span>
                                <br>across the country</center>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s5">
                        <div class="row blue z-depth-2" style="margin-top: 5%">
                            <center><img src="assets/images/yeoman.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">Rs. 1,50,000</span>
                                <br>worth of donations</center>
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="row blue z-depth-2" style="margin-top: 5%">
                            <center><img src="assets/images/yeoman.png"></center>
                        </div>
                        <div class="row" style="font-size: 125%">
                            <center><span class="blue-text">87 events</span>
                                <br>covered till now</center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s4 section">
        <div class="row z-depth-1" style="margin-top: 1%">
            <div class="row">
                <div class="col s10 blue-text">
                    <span style="font-weight: lighter; padding: 5% 0% 0% 5%; font-size: 300%">Sign up</span>
                    <span style="font-weight: lighter; padding: 0% 0% 0% 5%; font-size: 110%"><br>Want to sign up ? Fill this form</span>
                </div>
            </div>
            <div class="row" style="margin-top: -5%">
                <div class="row">
                    <div class="input-field col s5 offset-s1 flow-text">
                        <input id="ind" name="group1" type="radio" ng-model="register.ind" ng-value="true">
                        <label for="ind">Individual</label>
                    </div>
                    <div class="input-field col s5 flow-text">
                        <input id="org" name="group1" type="radio" ng-model="register.ind" ng-value="false">
                        <label for="org">Organization</label>
                    </div>
                </div>
                <div class="input-field col s5 offset-s1 flow-text" ng-show="register.ind">
                    <input id="first_name" type="text" class="validate" ng-model="register.first_name" ng-required="true">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s5 flow-text" ng-show="register.ind">
                    <input id="last_name" type="text" class="validate" ng-model="register.last_name" ng-required="true">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col s10 offset-s1 flow-text" ng-hide="register.ind" ng-model="register.org_name">
                    <input id="org_name" type="text" class="validate" ng-required="true">
                    <label for="org_name">Organization name</label>
                </div>
                <div class="input-field col s8 offset-s1 flow-text">
                    <input id="username" name="usernamea" type="text" class="validate tooltipped" data-position="bottom" data-delay="50" ng-model="register.username" ng-required="true" ng-blur="register.check_username()">
                    <label for="username">Username</label>
                </div>
                <div class="input-field col s10 offset-s1  flow-text">
                    <input id="email" type="email" class="validate" ng-model="register.email" ng-required="true"></input>
                    <label for="email">E-mail Address</label>
                </div>
                <div class="input-field col s10 offset-s1 flow-text">
                    <input id="password" type="password" class="validate" ng-model="register.password" ng-required="true">
                    <label for="password">Password</label>
                </div>
                <div class="input-field col s8 offset-s1 flow-text">
                    <input id="accept_conditions" type="checkbox" ng-model="register.accept_conditions"></input>
                    <label for="accept_conditions">I accept the <a href="#">Terms and Conditions</a></label>
                </div>
            </div>
            <div class="row">
                <div class="col s3 offset-s4">
                    <button class="btn waves-effect waves-light blue" ng-click="register.register()">
                        Signup
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
