<div class="row">
    <userpanel></userpanel>
    <div class="col offset-s2 s10">
        <div class="row">
            <div class="col s8">
                <div class="col s9 input-field">
                    <label>Search</label>
                    <input type="text" ng-model="search.query"></input>
                </div>
                <div class="col s3" style="margin-top: 2%">
                    <a class="waves-effect waves-light btn light-blue"><i class="material-icons right">search</i>Search</a>
                </div>
            </div>
            <div class="col s3 offset-s1 flow-text" style="margin-top: 1.5%;">
                <span style="float: right;">{{search.resultCount}} results found</span>
            </div>
        </div>
        <div class="row" ng-repeat="rows in search.results">
            <div class="col s4" ng-repeat="result in rows">
                <div class="card small">
                    <div class="card-image" style="max-height: 50%">
                        <img src="assets/images/yeoman.png">
                        <span class="card-title light-blue white-text" style="opacity: 0.5; min-width: 100%; padding: 2px 0px 2px 4%">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p style="font-weight: 300; font-size: 75%">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <center>
                            <a href="#" class="btn green white-text">Subscribe</a>
                            <a href="#" class="btn indigo white-text">View info</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
