<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<usernavbar></usernavbar>
<div class="row">
    <userpanel ng-if="!search.org"></userpanel>
    <div class="col offset-s2 s10">
        <div class="row">
            <div class="col s8">
                <div class="col s9 input-field">
                    <label id="searchlabel">Search</label>
                    <input type="text" ng-model="search.query"></input>
                </div>
                <div class="col s3" style="margin-top: 2%" ng-click="search.search()">
                    <a class="waves-effect waves-light btn light-blue"><i class="material-icons right">search</i>Search</a>
                </div>
            </div>
            <div class="col s3 offset-s1 flow-text" style="margin-top: 1.5%;" ng-show="search.query">
                <span style="float: right;">{{search.resultCount}} result(s) found</span>
            </div>
        </div>
        <div class="row z-depth-0">
            <div class="col s8 offset-s2">
                <ul class="tabs">
                    <li class="tab col s6 light-blue"  ng-click="search.changeTab(1)"><a class="white-text" style="padding-right: 10%;" href="">Organizations<span class="right white-text">{{search.orgResults.length}}</span></a></li>
                    <li class="tab col s6 light-blue white-text" ng-click="search.changeTab(2)"><a class="white-text"style="padding-right: 10%;" href="">Events<span class="right white-text">{{search.eventResults.length}}</span></a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col s12 flow-text grey-text" ng-if="(search.groupedOrgResults.length==0) && search.showOrgs">
                    <div class="row" style="margin-top: 10%">
                        <div class="col s12 center">
                            No organizations found
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="search.showOrgs" ng-repeat="rows in search.groupedOrgResults">
                <div class="col s4" ng-repeat="result in rows">
                    <div class="card small hoverable">
                        <div class="card-image" style="max-height: 50%">
                            <img src="http://i.imgur.com/88yXLNF.jpg?1">
                            <span class="card-title light-blue white-text" style="opacity: 0.8; min-width: 100%; padding: 2px 0px 2px 4%">{{result.name}}</span>
                        </div>
                        <div class="card-content">
                            <p style="font-weight: 300; font-size: 75%">{{result.aboutUs}}</p>
                        </div>
                        <div class="card-action">
                            <center>
                                <a ng-if="!search.isUserSubscribed[$parent.$index][$index]" ng-click="search.subscribe($parent.$parent.$index, $index)" class="btn green waves-effect waves-light">Subscribe</a>
                                <a ng-if="search.isUserSubscribed[$parent.$index][$index]" ng-click="search.unsubscribe($parent.$parent.$index, $index)" class="btn red waves-effect waves-light">Unsubscribe</a>
                                <a href="/organization/{{result.username}}" class="btn indigo white-text">View</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col s12 flow-text grey-text" ng-if="(search.groupedEventResults.length==0) && search.showEvents">
                    <div class="row" style="margin-top: 10%">
                        <div class="col s12 center">
                            No events found
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="search.showEvents" ng-repeat="rows in search.groupedEventResults">
                <div class="col s4" ng-repeat="result in rows">
                    <div class="card small hoverable">
                        <div class="card-image" style="max-height: 50%">
                            <img src="assets/images/yeoman.png">
                            <span class="card-title light-blue white-text" style="opacity: 0.8; min-width: 100%; padding: 2px 0px 2px 4%">{{result.name}}</span>
                        </div>
                        <div class="card-content">
                            <p style="font-weight: 300; font-size: 75%">{{result.description}}</p>
                        </div>
                        <div class="card-action">
                            <center>
                                <a ng-if="!search.isUserVolunteer[$parent.$index][$index]" ng-click="search.volunteer($parent.$index, $index)" class="btn green waves-effect waves-light">Volunteer</a>
                                <a ng-if="search.isUserVolunteer[$parent.$index][$index]" ng-click="search.unvolunteer($parent.$index, $index)" class="btn red waves-effect waves-light">Unvolunteer</a>
                                <a href="#" ng-click="search.navigate($parent.$index, $index)" class="btn indigo white-text">View</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
