<div layout="row" layout-align="center">
    <div flex="33">
        <md-card>
            <md-card-header layout-align="center center" style="background-color: #03A9F4; color: white">
                <md-card-header-text>
                    <center class="md-title">Login</center>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <form onsubmit="login.login()">
                    <md-input-container>
                        <label>Username</label>
                        <input type="text" ng-model="login.username"></input>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="login.password"></input>
                    </md-input-container>
                    <div layout="row" layout-align="center center">
                        <md-button style="background-color: #03A9F4; color: white">Login</md-button>
                    </div>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>
