<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row">
    <div class="col s4 offset-s4">
        <div class="card">
            <center class="card-title light-blue white-text">Login</center>
            <div class="card-content">
                <div class="column">
                    <form ng-submit="login.login()">
                        <div class="input-field">
                            <i class="material-icons prefix light-blue-text">person</i>
                            <label class='light-blue-text'>Username</label>
                            <input type="text" class="validate" ng-model="login.username" ng-required="true"></input>
                        </div>
                        <div class='input-field'>
                            <i class="material-icons prefix light-blue-text">lock</i>
                            <label class='light-blue-text'>Password</label>
                            <input type="password" class="validate" ng-model="login.password" ng-required="true"></input>
                        </div>
                        <div class="row">
                            <center>
                                <button class="btn waves-effect waves-light offset-s1 light-blue white-text" type="submit">
                                    Login
                                </button>
                            </center>
                        </div>
                        <div class="row" ng-show="login.error">
                            <center class='red-text'>Invalid username or password</center>
                        </div>
                        <div class="row">
                            <center>
                                <a class="light-blue-text" href="#">
                                    Forgot password ?
                                </a>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>